*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root{
    --primary-color:#F2AA00;
    --heading-color:#424242;
    --subfonts:"Lato";
    --mainfonts:"Poppins";

}

.flex{
    display: flex;
}
.items-c
{
    align-items: center;
}

.justify-c{
    justify-content: center;
}

.justify-sb{
    justify-content: space-between;
}


.social-nav{
        width: 100%;
        background-color: var(--primary-color);
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px;
}
.s-icons,.p-details{
    color: white;
    gap:30px;
    font-family: var(--subfonts);
}
.detail-container{
   
    gap: 8px;
   
}
.detail-container h3{
     font-size:12px;
}
.main-nav{
    width: 100%;
    height: 90px;
    padding: 0px 40px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}
.main-nav img{
    width: 125px;
}
.menu,
.logo,
.links {
    flex: 1;
}

.logo {
    text-align: center;
}

.links {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 30px;  
}
.links a{
    text-decoration: none;
    font-family: var(--subfonts);
    color: var(--heading-color);
    font-weight:400;
    font-size: 15px;
}
.active{
    color: #F2AA00 !important;
    font-weight: 600;
     text-underline-offset: 6px;
    text-decoration: underline #F2AA00 !important;
}
.contact{
    max-width: 110px;
    padding: 5px 0px;
    border-radius: 5px;
    width: 100%;
    background: none;
    background-color: #F2AA00;
    color: white;
    border: none;

}
.menu i{
    color:var(--primary-color);
    font-size: 20px;
}
.hero-section{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
     overflow: hidden;

}
.hero-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.hero-container{
    position: absolute;
    font-family: var(--mainfonts);
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    left: 80px;
}


.hero-overlay{
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.2)
    );
}
.hero-btn{
    margin-top: 25px;
    padding: 14px 30px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-family: var(--subfonts);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 6px;
}

.hero-btn:hover{
    background-color: white;
    color: black;
}.hero-section video{
    animation: zoomVideo 15s ease-in-out infinite alternate;
}

.hero-heading{
    font-size: 65px;
    line-height: 1.1;
    letter-spacing: 1px;
    color: white;
}

#changing-word{
    color: var(--primary-color);
    white-space: nowrap;
    display: inline-block;
    transition: opacity 0.4s ease, transform 0.4s ease;  
}

.fade-out{
    opacity: 0;
    transform: translateY(20px);
}

.fade-in{
    opacity: 1;
    transform: translateY(0);
}
.heading{
    padding-top: 30px;
    font-size: 35px;
    font-family: var(--subfonts);
    word-spacing: 2px;
    color: var(--primary-color);
    flex-direction: column;
    gap: 5px;
}
.heading h5{
    font-size: 17px;
    color: rgba(128, 128, 128, 0.864);
}

.slider{
    padding-top: 40px;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    position: relative;
}

.items{
    display: flex;
    width: calc(var(--width) * var(--quantity));
       position: relative;
    width: calc((var(--width) + var(--gap)) * var(--quantity));
}

.card{
    width: var(--width);
    height: var(--height);
    background-color: #F2AA00;
    position: absolute;

    left: calc((var(--width) + var(--gap)) * (var(--pos) - 1));

    animation: autorun 12s linear infinite;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider:hover .card:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(2);
    z-index: 10;
}
.slider:hover .card {
    animation-play-state: paused;
}
.slider:hover .card {
    filter: grayscale(100%);
    transition: 1s ease;
    opacity: 0.5;
}
.about{
    margin-top: 30px;
    flex-direction: column;
}

.about-con{
    margin-top: 20px;
    max-width: 1200px;
    width: 100%;
    gap: 70px;
    padding-top: 10px;

}
.image-side{
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.image-side img{
    width: 100%;
    border-radius: 20px;

    height: 400px;
    object-fit: cover;

}
.stats-side{
    max-width: 200px;
    width: 100%;
    flex-direction: column;
    gap: 30px;


}
.stat-box{
    width: 100%;
    border-radius: 20px;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    color: white;

    flex-direction: column;
    font-family: var(--mainfonts);
    height:150px;
    background-color: #f2a900ae;
}
.stat-box h2{
    font-size: 30px !important;
}
.stat-box h3{
        font-size: 17px ;
        font-weight: 500;
}

.mission-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.activeline{
    border-top: 3px solid var(--primary-color) !important;
}
.activebox{
    background-color: #f2a900c1 !important;

}
.line{
     max-width: 350px;
    width: 100%;
    border-top: 3px solid gray; 
}
.box{
    max-width: 350px;
    width: 100%;
    margin-top: 30px;
    height: 150px;
    border-radius: 5px;
    background-color:rgba(128, 128, 128, 0.71);
}
.text-content{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-family: var(--subfonts);
    gap: 10px;
}
.text-content h4{
    font-size: 22px;
}
.text-content i{
    font-size: 22px;
}
.para-content{
    color: white;
    text-align: left;
    padding: 10px 20px;
    font-size: 14px;
}
.servicesec{
    width: 100%;
}

.why-sec{
    padding-top: 40px;
    max-width: 1200px;
    width: 100%;
    object-fit: cover;
}
.why-sec img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.text-sec{
    max-width: 500px;
    padding-top: 30px;
    width: 100%; 
    flex-direction: column;
    gap: 30px;
}

.whybox{
    width: 100%;
    padding: 15px 20px;
    font-weight: 600;
    font-family: var(--subfonts);
}
.text-sec button{
    border: none;
    cursor: pointer;
}

.contactsec{
    margin-top: 40px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.contactsec img{
    width: 100%;
    object-fit: cover;

    filter: brightness(45%);
    height: 100%;
    animation: autozoom 15s alternate ease-in-out infinite;
}

.contacthead{
    top: 50px;
    left: 30px; 
    border-left: 2px solid #F2AA00 ;
    padding-left: 20px;
}
.contacthead h3{
    color: white;
    font-size: 40px;
    font-family: var(--subfonts);
}
.contacthead p{
    font-size: 14px;
    color: var(--primary-color);
    font-family: var(--mainfonts);
    font-weight: 600;
    padding-top: 10px;
}
.contactform{
    max-width: 650px;
    width: 100%;
    background-color: white;
    height: 400px;
    top: 25%;
    padding-top: 20px;

    right: 2%;
    border-radius: 20px;
}
.fields input{
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid rgba(128, 128, 128, 0.596)
}
.fields{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;

}
.field{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;

}
.field textarea{
    max-width: 600px;
    width: 100%;
    height: 80px;
    line-height: normal;
  padding: 10px; 
  box-sizing: border-box;
  resize: none;
    border-radius: 7px;
    border: 2px solid rgba(128, 128, 128, 0.596)
}
.formhead{
    font-size: 23px;
    color: var(--heading-color);
    font-family: var(--subfonts);
    padding-left: 20px;
}
.formhead p{
    font-size: 14px;
    padding-top: 5px;
    color: var(--primary-color);
}
.formsubmit{
    max-width: 400px;
    width: 100%;
    color: white;
    background-color: #F2AA00;
    padding: 10px; 
    border: none;
    border-radius: 5px;
}
.butt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}





@keyframes autorun{
    from{
        transform: translateX(0);
    }
    to{
       transform: translateX(calc((var(--width) + var(--gap)) * -4));
    }
}
@keyframes autozoom {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
         transform: scale(1);
    }
}













@keyframes zoomVideo{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


@media only screen and (max-width:920px)
{
    .social-nav{
        padding: 0px 0px;
        justify-content: center;
    }
    .s-icons{
        display: none;
    }
    .links a{
        display: none;
    }
    .menu,.links,.logo{
        flex: 0;
    }
    .contact{
        width: 100px;
        gap: 0px;
    }
     .hero-section{
        height: 400px;
    }

    .hero-container{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        align-items: center;
        max-width: 95%;
    }

    .hero-heading{
        font-size: 28px;
        line-height: 1.2;
    }

    #changing-word{
        display: block;    
        white-space: nowrap; 
    }
    .stbox{
        display: none;
    }
    .heading{
        padding-top: 25px;
        font-size: 24px;
    }

    .slider{
        padding-top: 25px;
    }
    .why-container{
        flex-direction: column;
    }
    .image-side img{
        height: 300px;
        border-radius: 0;
    }
    .about-con{
        flex-direction: column;
        gap: 20px;
    }
    .stats-side{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        max-width: 600px;
        padding: 0px 10px;
    }
    .box{
        max-width: 400px;
        margin-top: 20px;
    }
    .mission-container{
        padding: 0px 10px;
        flex-direction: column;
        gap: 0px;
    }
    .line,.activeline{
        border-top: none !important;
    }

    .stat-box h3{
        font-size: 14px;
    }
    .stat-box h2{
        font-size: 15px;
    }
    .why-sec{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .why-sec img{
        border-radius: 0px;
    }
    .text-sec{
        padding-top: 0px;
        gap: 10px;
        border-radius: 0;
    }
    .contacthead{
        left: 10px;
        
    }
    .contacthead h3{
        font-size: 28px !important;
    }
    .contacthead p{
        max-width: 500px;
        width: 100%;
        font-size: 12px !important;
    }
    .contactform{
      left: 20px;
        margin-top: 0px;
        border-radius: 0;
        width: 90%;
        height: auto;
        padding-bottom: 40px;
    }
    .contactsec{
        height: 800px;
    }
    .fields{
        flex-direction: column;
        gap: 20px;
    }
    .field textarea{
        width: 90%;
    }
    .formsubmit{
        width: 90%;
    }
}